@model PictureTagger.Models.ViewModels.PictureView
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>@Html.DisplayNameFor(model => model.Tags)</th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
        <td>
            @string.Join(",", Model.Tags.Select(t => t.TagLabel))
        </td>
    </tr>

</table>
<img src="/UserData/@Html.DisplayFor(model => model.Hash)" alt="@Html.DisplayFor(model => model.Name)" style="max-width:100%; max-height:300px" />
<p>
    @if(Request.IsAuthenticated && User.Identity.GetUserId() == Model.OwnerID) {
        @Html.ActionLink("Edit", "Edit", new { id = Model.PictureID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.PictureID }) |
    }
    @Html.ActionLink("Back to List", "Index")
</p>