@model IEnumerable<PictureTagger.Models.ViewModels.PictureView>
@using Microsoft.AspNet.Identity

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>

<div class="container-fluid pt-image-mosaic">
	@foreach (var picture in Model)
	{
		var tags = string.Join(", ", picture.Tags.Select(t => t.TagLabel));
		<div class="col-sm-3 pt-image">
			<div class="thumbnail">
				<a href="/Pictures/Details/@picture.PictureID"><img src="@picture.ThumbnailBase64Data" alt="@tags" class="img-thumbnail full-loadable" data-full-src="/UserData/@picture.Hash" /></a>
				<div class="caption">
					<h3>@picture.Name</h3>
					<p class="text-muted">
						@foreach (var tag in picture.Tags.OrderBy(t => t.TagLabel))
						{
							<a href="/Tags/Details/@tag.TagID" class="badge">@tag.TagLabel</a>
						}
					</p>
					<p>
						@Html.ActionLink("Details", "Details", new { id = picture.PictureID }, new { @class = "btn btn-primary" })

						@if (Request.IsAuthenticated && User.Identity.GetUserId() == picture.OwnerID)
						{
							@Html.ActionLink("Edit", "Edit", new { id = picture.PictureID }, new { @class = "btn btn-default" })
							@Html.ActionLink("Delete", "Delete", new { id = picture.PictureID }, new { @class = "btn btn-danger" })
						}
					</p>
				</div>
			</div>
		</div>
	}
</div>

@section scripts {
	<script>
		$(".full-loadable").hover(function () {
			let src = $(this).data("full-src");
			$(this).attr("src", src);
		});
	</script>
}