@model IEnumerable<PictureTagger.Models.ViewModels.PictureView>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.OwnerID)
		</th>
		<th>
			Image
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.OwnerID)
			</td>
			<td>
				<img src="@item.Base64Data" alt="@item.Name" style="max-width:100%; max-height:300px"/>
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
                @Html.ActionLink("Details", "Details", new { id = item.PictureID }) |
				@Html.ActionLink("Edit", "Edit", new { id = item.PictureID }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.PictureID })
			</td>
		</tr>
	}

</table>
